.home{
    display: grid;
    grid-template-columns: 165px 165px;
    gap: 0.5rem;
    justify-content: center;
    align-items: center; 
}

.ng-star-inserted{
   display: flex;
   justify-content: center;
   align-items: center;
}

.example-button-row{
   position: fixed;
   bottom: 1rem;
   right: 1rem;
}

.example-button-row .mat-mdc-button-base {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}