.home{
    display: grid;
    grid-template-columns: 170px 170px;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    max-width: 400px;
    margin-top: 2rem;
}

.example-button-row{
   position: fixed;
   bottom: 1rem;
   right: 1rem;
}

.example-button-row .mat-mdc-button-base {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}