
.card-dados{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-dados .card-titulo-preco{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card-dados .imagem {
    width: 100%;
    height: 175px;
    border-radius: 0.5rem;
}

.card-titulo .titulo {
   margin: 0;
}

.card-dados .parag-titulo{
    margin: 0;
}

.card-preco .paragrafo {
   margin: 0; 
}

.card-titulo-preco .card-preco{
    padding-top: 0.6rem;
}

.card-preco .preco{
    margin: 0;
}
