header{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 3000;
}

.toolbar{
    height: 1rem;
}

main {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

   