@use '@angular/material' as mat;

@include mat.core();

$primeira-paleta: mat.define-palette(mat.$indigo-palette, 500);
$segunda-paleta: mat.define-palette(mat.$deep-purple-palette, 700);

$my-theme: mat.define-light-theme((
 color: (
   primary: $primeira-paleta,
   accent: $segunda-paleta,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);

html, body { height: 100%; background-color: aqua;}

body { 
    margin: 0; 
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
